#block-reboot-breadcrumbs{
    background:$bk_2;
    background:$gris_95;
    color:$general;
    a {
        text-decoration:none;
        display:inline-block;
        
        color:$general;
        padding:5px;
        font-size:.875em;
        text-transform:uppercase;
        // font-style:italic;
    }
    ol {
        display:flex;
        max-width:$device_max;
        margin:0 auto;
    }
}

.breadcrumb {
    padding:0;
}